<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Menu</title>
    <link rel="shortcut icon" href="/Images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/FoodItemEdit.css">
   
</head>

<body>
    <h1>FOOD MENU</h1>
    
    <div id="food-menu">
        <div class="category-container">
            <h2>Category 1</h2>
            <div class="food-item-container">
                <!-- Food items for Category 1 -->
            </div>
            <div class="food-item-container">
                <!-- Food items for Category 1 -->
            </div>
        </div>
        <div class="category-container">
            <h2>Category 2</h2>
            <div class="food-item-container">
                <!-- Food items for Category 2 -->
            </div>
            <div class="food-item-container">
                <!-- Food items for Category 2 -->
            </div>
        </div>
        <!-- Repeat for other categories -->
    </div>

    <!-- Firebase configuration -->
    <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-database.js"></script>
    <script src="../js/disableinspect.js"></script>
    <script src="../js/connection_db.js"></script>
    <script src="../js/FoodItemEdit.js"></script>
</body>

</html>