<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot_Password</title>
    <link rel="shortcut icon" href="/Images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/forgotpass.css">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />

    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <div class="card" id="forgotPasswordCard">
        <p class="lock-icon fas fa-lock"></p>
        <h2>Forgot Password?</h2>
        <p>You can reset your Password here</p>
        <input type="text" class="passInput" id="emailInput" placeholder="Email address">
        <button id="sendPasswordButton">Reset Password</button>
        <br>
        <h5>go back to <a href="/login" style="color: aliceblue;"> Login! </a></h5>
    </div>

    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-database-compat.js"></script>
    <script src="firebase-config.js"></script>
    <script src="../js/connection_db.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const forgotPasswordCard = document.getElementById("forgotPasswordCard");
            const emailInput = document.getElementById("emailInput");
            const sendPasswordButton = document.getElementById("sendPasswordButton");

            sendPasswordButton.addEventListener("click", function () {
                const email = emailInput.value;

                // Send a password reset email using Firebase Auth
                firebase
                    .auth()
                    .sendPasswordResetEmail(email)
                    .then(function () {
                        // Password reset email sent successfully
                        forgotPasswordCard.innerHTML = `<p class="success-message">A password reset link has been sent to ${email}. Check your email inbox.</p>`;
                    })
                    .catch(function (error) {
                        // An error occurred
                        forgotPasswordCard.innerHTML = `<p class="error-message">An error occurred: ${error.message}</p>`;
                    });
            });
        });
    </script>
</body>

</html>